.profile__avatar-edit {
    position: absolute;
    top: 0;
    left: 0;
    height: 120px;
    width: 120px;
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 100;

}

.profile__avatar-edit:hover{
    background-image: url("../../../images/edit-profile.svg");
    background-position: center;
    background-color: rgba(0,0,0,.8);
    border: none;
    background-repeat: no-repeat;
    opacity: 1;
    transition: color 2s ease-in-out 1s;
    background-size: 26px 26px;
}