@import url("./style/btn_style_edit-profile.css");
@import url("./style/btn_style_add.css");
@import url("./style/btn_style_like-active.css");
@import url("./style/btn_style_like.css");
@import url("./style/btn_style_save.css");
@import url("./style/btn_style_close.css");

.btn {
  margin: 0;
  max-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.btn:disabled {
  opacity: 0.5;
  cursor: default;
}

.btn:hover {
  cursor: pointer;
}
