.btn_style_save {
  background-color: #000000;
  border: 1px solid black;
  color: white;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  width: 358px;
  height: 50px;
  margin: 38px auto 36px auto;
}

.btn_style_save:hover {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  background-color: rgba(0, 0, 0, 0.8);
}

.btn_style_save:disabled {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 620px) {
  .btn_style_save {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-content: center;
    margin: 0 auto;
  }
}
