.btn_style_edit-profile {
  background: url("../../../images/edit-profile.svg") no-repeat center;
  min-width: 10px;
  min-height: 10px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  align-self: flex-end;
}

.btn_style_edit-profile:hover {
  opacity: 0.8;
}

@media screen and (max-width: 620px) {
  .btn_style_edit-profile {
    width: 18px;
    height: 18px;
  }
}
