.btn_style_save-disabled {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  width: 358px;
  height: 50px;
  cursor: not-allowed;
  pointer-events: none;
}

@media screen and (max-width: 620px) {
  .btn_style_save-disabled {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-content: center;
    margin: 0 auto;
  }
}
