.cards {
  width: 100%;
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 17px;
  margin: 50px auto 66px auto;
  justify-items: center;
  justify-content: center;
}

@media screen and (max-width: 880px) {
  .cards {
    max-width: 92vw;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 619px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
