.btn_style_close {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: fixed;
  transform: translate(340%, -400%);
  font-size: 40px;
}

@media screen and (max-width: 620px) {
  .btn_style_close {
    transform: translate(155%, -380%);
  }
}

.btn_style_close:hover {
  opacity: 0.6;
}
