.footer {
  color: var(--mediumGrey);
  max-width: 880px;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  margin: 66px 0;
}

@media screen and (max-width: 880px) {
  .footer {
    margin-left: 16px;
    max-width: 95vw;
  }
}
