.popup__input {
  margin: 29px auto 0 auto;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 358px;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 14px;
}

@media screen and (max-width: 620px) {
  .popup__input {
    max-width: 238px;
    width: 80vw;
  }
}
