.btn_style_edit-profile {
  max-width: 24px;
  max-height: 24px;
  padding: 5px;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  align-self: flex-end;
}

.btn_style_edit-profile:hover {
  opacity: 0.8;
}

@media screen and (max-width: 620px) {
  .btn_style_edit-profile {
    width: 18px;
    height: 18px;
  }
}
