.btn_style_close {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 40px;
}

.btn_style_close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 620px) {
  .btn_style_close {
    transform: scale(0.6);
  }
}
